body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container{
  background-color: #434d56;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.chart-box{
  display: flex; 
  margin-bottom: 40px;
  margin-left: 30px;
}

.chart {
    width: 80%;
    height: 700px;
    border-top: 5px solid rgb(81, 92, 103);
    border-left: 5px solid rgb(81, 92, 103);
    border-bottom: 5px solid rgb(81, 92, 103);
    border-right: 0;
    position: relative;
    background-color: rgb(56, 64, 72)
}
.price-axis {
  position: absolute;
  top: -5px;
  right: -3.8%;
  height: 100%;
  width: 3.6%;
  border-top: 5px solid rgb(81, 92, 103);
  border-right: 5px solid rgb(81, 92, 103);
  border-bottom: 5px solid rgb(81, 92, 103);
  border-left: 2px solid rgb(81, 92, 103);
  background-color: #384048;
}
.price-points {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 700px;
  
}
.tick-price{
  visibility: hidden;
  margin-bottom: -29.4px;
  background-color: #ccc;
  width: 20px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

/************ Super Controls ***********************/
.super-controls {
  border: 5px solid rgb(81, 92, 103);
  margin-left: 78px;
  background-color: #384048;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 7px;
  z-index: 1;
}

.buy-sell__box{
 display: flex;
 gap: 7px;
}
.buy-btn, 
.sell-btn{
  flex: 0 1 50%;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #ccc;

}

.buy-btn:hover,
.sell-btn:hover {
  cursor: pointer;
  background-color: #42494f ;
}

.order-info__box {
 display: flex;
 gap: 7px;
}
.bought-sold,
.entry-price{
  flex: 0 1 50%;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #ccc;
}


.close-position__btn {
  padding: 10px;
  width: 110px;
  background-color: #384048;
  outline: none;
  border: none;
  box-shadow: rgb(105, 105, 105) 0px 0px 3px 0px;
  color: #eee;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
}
.close-position__btn:hover{
  background-color: #42494f ;
}

.order-quantity__title {
align-self: end;
margin-right: 20px;
margin-top: -62px;
color: #ccc;
font-size: 17px;
}
.order-quantity__numbers {
align-self: end;
width: 69px;
margin-right: 10px;
margin-top: -15px;
background-color: #505962; 
border: none;
outline: none;
color: #eee;
padding: 5px 1px 5px 10px;
}
.current-profit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d333a;
  color: #ccc;
  padding: 7px;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
}


.open-pnl{
 padding: 3px 5px 3px 5px;
}

/******* Account tab *****************/
.account-info{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 97.1%;
  margin-left: 30px;
  margin-top: 20px;
  background-color: #384048;
}

.open-positions-tab,
.account-tab{
  font-weight: bold;
  color: #ccc;
  font-size: 19px;
}
/************  Logo styles**********************/
.logo {
  background: linear-gradient(to right, #CE4C0E 0%, #A4412F 0%, #970000 100%);
  font-size: 20px;
  color: #eee;
  text-transform: uppercase;
}
.logo-second {
 font-weight: bolder;
}

.open-positions-tab{
  position: relative;
}
.logo,
.account-tab,
.open-positions-tab{
  padding: 1px 10px 1px 10px;
}

.account-tab:hover,
.open-positions-tab:hover{
  cursor: pointer;
  background-color:  rgb(56, 64, 72);
}
.account-info__header{
  display: flex;
  background-color: #515c67;
}
.account-info__rows{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  color: #ccc;
  padding: 10px;
}
.account-info_title-row,
.account-info_values {
  display: flex;
}
.account-info_column,
.account-info_value {
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  flex-basis: 200px;
}

/******* Position tab *****************/

.position-info__rows{
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  color: #ccc;
  padding: 10px;
}
.position-info_title-row,
.position-info_values {
  display: flex;
}
.position-info_column,
.position-info_value {
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
  flex-basis: 200px;
}
.is-active{
  display: none;
    padding: 0px 7px;
    background: red;
    margin: 5px;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}
