* {
    border: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;   /** 10/16 = 62.5% */
}

::selection {
    background-color: #000;
    color: #fff;
  }

body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/************  Navigation styles**********************/

header {
    margin-bottom: 4rem;
}

.header-nav_content{
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.mobile-icon {
    height: 100%;
    width: 40px;
    height: 35px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    cursor: pointer;
}

.mobile-icon_line{
    background-color: #fff;
    width: 100%;
    height: 6px;
    border-radius: 5px;
}


nav{
    height: 9rem;
    background-color: #000;
    display: flex;
    align-items: center;
    transition: background-color .6s;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.logo{
    margin-right: auto;
    padding: 10px 10px;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.nav_link{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.about-link:hover,
.insights-link:hover{
    text-decoration: underline red 3px;
}
.nav-web_platform {
    background-color: red;
    padding: 10px;
    letter-spacing: .2rem;
    color: #000;
    transition: all .3s;
}

.nav-web_platform:hover{
    padding-right: 2rem;
    margin-left: -1rem;
}

.nav-web_platform:hover .arrow-left{
    opacity: 1;
    transform: translateX(2px);
}

.nav-link p a {
    position: relative;
}
.arrow-left {
    position: absolute;
    width: 1.6rem;
    background-color: #000;
    opacity: 0;
    transform: translateX(10px);
    clip-path: polygon(17% 21%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 19% 80%);

}

.nav-web_platform a {
    color: #000;
    text-decoration: none;
}

.nav-web_platform a:hover{
    color: #fff;
}


.dropdown {
    position: relative;;
}
.data-expander{
    z-index: -1;
    position: absolute;
    top: 5.449rem;
    background-color: #181717;
    padding: 1rem;
}

.data-expander ul {
    list-style-type: none;
    padding-left: 0px;
}
.data-expander ul li {
    margin-top: 2rem;
}

.data-expander ul li:last-child{
    margin-bottom: 2rem;
}

.data-expander ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 100;
    transition: color .3s;
}
.data-expander ul li a:hover{
    color: #ff4200;
    text-decoration: underline;
}

.data-expander_about {
    width: 20rem;
    transform: translateY(-20px);
    opacity: 0;
    transition: all .3s;
}

.data-expander_insights {
    width: 15rem;
    transform: translateY(-20px);
    opacity: 0;
    transition: all .3s;
}

.active-dropdown{
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
}
.active-link {
    color: #ccc
}
/************  Logo styles **********************/
.logo {
    background: linear-gradient(to right, #CE4C0E 0%, #A4412F 0%, #970000 100%);
    font-size: 20px;
    color: #eee;
    text-transform: uppercase;
  }
  .logo-first{
    margin-right: -5px;
  }
  .logo-second {
   font-weight: bolder;
   font-size: 2.3rem;
  }
  
  .open-positions-tab{
    position: relative;
  }
 
  .account-tab,
  .open-positions-tab{
    padding: 1px 10px 1px 10px;
  }
  
  .header-hero_content{
    width: 80%;
    min-height: 41rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header-hero_text-box {
    max-width: 42.5rem;
    animation-name: displayHeroText;
    animation-duration: 1s;
  }

.header-hero_wrapper{
    align-self: center;
}

.header-hero_title{
    font-size: 450%;
    margin-bottom: 1rem;
}
.header-hero_text{
    font-size: 1.8rem;
    font-weight: 100;
    
}
.hero-image{
    width: 100%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    
  }

.hero-btn {
    display: inline-block;
    border: 0;
    width: 18.1rem;
    height: 5rem;
    color: #000;
    text-decoration: none;
    background: #ff4200;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.4rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.hero-btn:hover{
    color: #fff;
    background: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),#ff4200;
}


/************  Features Section styles**********/

.features {
    background-color: #eee;
    padding: 15rem 5rem;
}

.features-content{
    margin: auto;
    width: 80%;
}

.features-content h2 {
    text-align: center;
    font-size: 350%;
    letter-spacing: .1rem;
}

.features-content_container{
    padding-top: 7rem;
    padding-bottom: 6rem;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.column {
    width: 30%;
    height: 250px;
}
.selling-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
.selling-card_content {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.selling-card_image {
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 40px;
    margin-bottom: 2rem;
    background-color: #fff;
    box-shadow: -2px 4px 9px 3px rgba(0, 0, 0, 0.15);
}
.selling-card_image img{
    height: 60px;
}

.selling-card_title{
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.selling-card_content p {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: .1rem;
}

.action-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************  Description Section styles**********/

.description {
    background-color: #eee;
    padding-bottom: 15rem;
}

.description-content{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 8.6rem;;
}

.description-content_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description-contnet_gif img{
    width: 100%;
    clip-path: polygon(100% 0,100% 90%,87% 100%,0 100%,0 0);
}
.description-contnet_gif {
  position: relative;
  z-index: 1;
}
.description-contnet_gif::before{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    height: 100%;
    z-index: -1;
    clip-path: polygon(100% 0,100% 88%,85% 100%,0 100%,0 0);
    width: 100%;
    background-color: rgb(0, 149, 179);
}

.description-content_title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 2.8rem;
}

.description-content_list {
    margin-bottom: 1.5rem;
}
.description-content_list p {
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

.description-content_list ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;
}

.description-content_list ul li {
    display: flex;
    margin: 1rem 0;
}
.description-content_list ul li p {
    font-size: 1.6rem;
    margin-left: 2rem;
}
.description-content_list ul li img {
    width: 20px;
    height: 20px;
}

/************  Footer styles**********************/

footer{
    background-color: #000;
    color: #fff;
}

.footer-content {
    margin: 0 auto;
    width: 80%;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.footer-content h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}
.footer-content ul{
    list-style-type: none;
    padding-left: 0;
}

.footer-content ul li {
    margin-top: 1.5rem;
}

.footer-content ul li:hover {
    text-decoration: underline;
}

.footer-content ul li a {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
}
.footer-socials {
    display: flex;
}
.footer-socials img {
    background-color: rgb(0, 149, 179);
    border-radius: 50%;
    width: 3rem;
}

.footer-socials img:hover{
    background-color: #fff;
}

.footer-socials li {
    margin-right: 2rem;
}

.social-phone{
    margin: 2rem 0rem;
}

.social-phone_title {
    font-size: 1.7rem;
    font-weight: bold;
}
.social-phone_number {
    font-size: 1.5rem;
    margin-top: 3px;
    letter-spacing: .1rem;
}

.social-icons_title {
    font-size: 1.6rem;
}
.disclaimer-content {
    width: 80%;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

.disclaimer-content p:not(:last-child) {
    margin-bottom: 2rem;
}
/************  Animations **********************/


@keyframes moveInLeft {
    0% {
     opacity: 0;
     transform: translateX(200px);
    }

    30%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes displayHeroText {
    0% {
     opacity: 0;
     transform: translateX(-200px);
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}

/************  Media Queries **********************/


@media only screen and (max-width: 1410px) {
    .nav-links{
        width: 40%;
    }
    .header-hero_image,
    .header-hero_wrapper{
        flex: 1;
    }

  }
  @media only screen and (max-width: 1272px) {

    .description-content {
        width: 90%;
    }
  }

  @media only screen and (max-width: 1250px) {

    .header-hero_title{
        font-size: 350%;
    }
    .description-content {
        gap: 5.6rem;
    }

  }

  @media only screen and (max-width: 1160px) {
 
    .nav-links{
        width: 50%;
    }
    .header-nav_content,
    .footer-content,
    .features-content,
    .disclaimer-content {
        width: 90%;
    }
  }


  @media only screen and (max-width: 1092px) {

    .description-content {
        flex-direction: column;
    }
    .description-content_text{
        width: 100%;
    }
    .description-contnet_gif{
     width: inherit;
     align-self: center;
    }
  }

  @media only screen and (max-width: 932px) {
    .features {
        padding: 9rem 5rem;
    }
    .features-content h2 {
        font-size: 250%;
    }
  }

  @media only screen and (max-width: 900px) {

    html {
        font-size: 50%;
    }
  }

  @media only screen and (max-width: 760px){

    .nav-links{
        display: none;
    }

    .nav-links.active{
        display: flex;
        position: absolute;
        top: 9rem;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 20%;
        left: 0;
        padding-left: 3.5rem;
        padding-right: 3rem;
        background-color: #000;
        border-top: 1px solid #000;
    }

    .header-hero_content{
        align-items: center;
    }
    .mobile-icon{
        display: flex;
    }

    .mobile-icon.active  .mobile-icon_line:nth-child(1){
        transform: rotate(45deg);
        margin-top: 5px;
        background-color: red;
    }
    .mobile-icon.active  .mobile-icon_line:nth-child(2){
        display: none;

    }
    .mobile-icon.active  .mobile-icon_line:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -20px;
        background-color: red;
    }

    .header-hero_content{
        width: 90%;
        flex-direction: column;
     }
     .header-hero_text-box {
        max-width: none;
     }
     .header-hero_wrapper{
        align-self: self-start;
        margin-top: 3rem;
     }
     .header-hero_image{
        display: flex;
        justify-content: center;
     }
     .hero-image{
        width: 75%;
     }

     .description{
        padding-bottom: 6rem;
     }
  }



  @media only screen and (max-width: 760px) {
  
    .features-content {
        width: 100%;
    }
  }

  @media only screen and (max-width: 690px) {
    .row{
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .column{
        width: 100%;
        height: 150px;
        display: flex;
    }
    .selling-card{
        flex-direction: row;
    }
    .selling-card_image{
        margin-right: 3rem;
        padding: 25px;
    }
    .selling-card_content{
        justify-content: space-evenly;
    }

    .selling-card_content p {
        text-align: left;
    }

    .selling-card_title{
        text-align: left;
    }
  }


  @media only screen and (max-width: 640px){
    .footer-content{
        flex-direction: column;
    }
    .footer-content_futures,
    .footer-content_learn,
    .footer-content_social{
        margin-bottom: 3rem;
    }
    .social-icons_title {
        text-align: center;
    }
    .mobile-socials{
        display: flex;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 456px) {
    .features{
        padding: 5rem 3rem;
    }
    .selling-card_image{
        padding: 10px;
        margin-right: 1rem;
    }
    .selling-card_image img {
        height: 45px;
    }
    .column{
        height: 100px;
    }
  }